<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Filtrando elementos por categorias</title>

	<link rel="stylesheet" href="~/css/Opcion2.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

	<script src="~/js/jquery-3.2.1.js"></script>
	<script src="~/js/Opcion2.js"></script>
</head>
<body>

	<div class="wrap">
		<h1>CATALOGO WEB</h1>
		<div class="store-wrapper">
			<div class="category_list">
				<a href="#" class="category_item" category="all">Todos las marcas</a>
				<a href="#" class="category_item" category="Nike">Nike</a>
				<a href="#" class="category_item" category="Puma">Puma</a>
				<a href="#" class="category_item" category="Adidas">Adidas</a>
				<a href="#" class="category_item" category="NB">New Balance</a>
				<a href="#" class="category_item" category="Vans">Vans</a>
			</div>
			<section class="products-list">
				<!--Zapatos pumas-->
				<div class="product-item" category="Nike">
					<img src="~/Image/Nike1.png" alt="">
					<a href="#">NIKE AIR PEGASUS</a>
				</div>
			
				<div class="product-item" category="Nike">
					<img src="~/Image/Nike2.png" alt="">
					<a href="#">NIKE AIR JORDAD 1 LOW</a>
				</div>

				<div class="product-item" category="Nike">
					<img src="~/Image/Nike3.png" alt="">
					<a href="#">NIKE AIR PRESTO</a>
				</div>

				<div class="product-item" category="Nike">
					<img src="~/Image/Nike 4.png" alt="">
					<a href="#">NIKE REVOLUTION 3</a>
				</div>

				<!--Pumas-->

				<div class="product-item" category="Puma">
					<img src="~/Image/Puma1.png" alt="">
					<a href="#">PUMA SMACH V2</a>
				</div>

				<div class="product-item" category="Puma">
					<img src="~/Image/Puma2.png" alt="">
					<a href="#">PUMA GILLERMO VILLA</a>
				</div>

				<div class="product-item" category="Puma">
					<img src="~/Image/Puma3.png" alt="">
					<a href="#">PUMA DEVIATE NITRO 2</a>
				</div>

				<!--Adidas-->

				<div class="product-item" category="Adidas">
					<img src="~/Image/Adidas1.png" alt="">
					<a href="#">ADIDAS RUNNING GALAXY 6</a>
				</div>
				
				<div class="product-item" category="Adidas">
					<img src="~/Image/Adidas2.png" alt="">
					<a href="#">ADIDAS NMD R1</a>
				</div>

				<div class="product-item" category="Adidas">
					<img src="~/Image/Adidas3.png" alt="">
					<a href="#">ADIDAS LITE RACER 3 </a>
				</div>

				<!--New Balance-->

				<div class="product-item" category="NB">
					<img src="~/Image/NewBalance1.png" alt="">
					<a href="#">NEW BALANCE 990V5</a>
				</div>

				<div class="product-item" category="NB">
					<img src="~/Image/NewBalance2.png" alt="">
					<a href="#">NEW BALANCE 530</a>
				</div>

				<div class="product-item" category="NB">
					<img src="~/Image/NewBalance3.png" alt="">
					<a href="#">NEW BALANCE 550S</a>
				</div>

				<!--Vans-->

				<div class="product-item" category="Vans">
					<img src="~/Image/Vans1.png" alt="">
					<a href="#">VANS X OUR LEGENDS</a>
				</div>

				<div class="product-item" category="Vans">
					<img src="~/Image/Vans2.png" alt="">
					<a href="#">VANS AUTHENTIC</a>
				</div>

				<div class="product-item" category="Vans">
					<img src="~/Image/Vans3.png" alt="">
					<a href="#">VANS AUTHENTIC PLATAFORM </a>
				</div>

			</section>
		</div>
	</div>

</body>
</html>